.review {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  gap: 10px;

  div {
    padding: 10px 50px 10px 20px;
    background-color: #f4f5f7;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    p:first-child {
      color: var(--primary);
      font-size: 17px;
    }

    p {
      font-size: 15px;
    }

    small {
      margin-top: 10px;
      color: #989898;
      font-size: 12px;
    }
  }
}
