@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins.ttf);
  font-display: swap;
}

:root {
  --black: #333333;
  --primary: #b88e2f;
  --hover: #896b24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  color: var(--black);
}

button {
  cursor: pointer;
}

.mt {
  margin-top: 100px;
}

.container {
  margin-left: 70px;
  margin-right: 70px;
}

.primaryBtn {
  background-color: var(--primary);
  border: none;
  padding: 20px 50px;
  color: white;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 200ms;

  &:hover {
    background-color: var(--hover);
    transform: translateY(-10px) scale(1.1);
  }
}

.outlineBtn {
  background-color: transparent;
  border: 1px solid var(--primary);
  padding: 20px 50px;
  color: var(--primary);
  letter-spacing: 1px;
  font-weight: 600;
  transition: 200ms;

  &:hover {
    background-color: var(--hover);
    border-color: var(--hover);
    color: white;
    transform: translateY(-10px) scale(1.1);
  }
}

@media (max-width: 639px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}
